form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input,
select {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #2e2e2e;
  color: #ffffff;
}

input::placeholder {
  color: #bbb;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #2e86de;
  color: white;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #1b4f72;
}
